<h4>Add Todo</h4>
<form (submit)="onSubmit()">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input
      type="text"
      [(ngModel)]="title"
      class="form-control"
      id="title"
      name="title"
      aria-describedby="emailHelp"
    />
  </div>
  <div class="mb-3">
    <label for="desc" class="form-label">Description</label>
    <input
      type="text"
      [(ngModel)]="desc"
      name="desc"
      class="form-control"
      id="desc"
    />
  </div>
  <!-- <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" />
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div> -->
  <button type="submit" class="btn btn-primary">Add Todo</button>
</form>
